html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: row-reverse;
  /* چون راست‌چین هستی */
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* جلوی اسکرول کلی */
}

.main-content {
  flex: 4;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.page-content {
  flex: 1;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: inset 0px 0px 25px 11px rgba(0, 0, 0, 0.1);
}